services:
  web:
    image: ghcr.io/kasperstuck/hello-world:latest
    ports:
      - 3000
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
